*{
  margin: 0;
  padding: 0;
  font-family: 'poppins' , sans-serif;

}

.container{
  width: 100%;
  min-height:  100vh;
  background: linear-gradient(135deg, #e3dbf6, #a99bf9);
  padding: 10px;
}

.card{
  width: 300px;
  height: 415px;
  margin: 70px auto 0;

}

.card-inner{
  width: 100%;
  height: 100%;
  position: relative;
   transition: transform 1s;
   transform-style: preserve-3d;
}

.front, .back{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  backface-visibility: hidden;
}

.front{
  background: url("https://i.pinimg.com/564x/db/1e/2e/db1e2ea66a912647396c8d6ced7a69d9.jpg");
  background-size: cover;
  background-position: center;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;

}
.front h2{
  font-weight: 500;

}

.front p{
  color: #ccc;
  font-size: 13px;
  padding-top: 5px;
}

.front button{
  width: 120px;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 50px;
  color: #fff;

}

.back{
  background: #fff;
  color: #333;
  padding:  80px 80px;
  transform: rotateY(180deg);
}

.back h1{
  font-size: 50px;
  line-height: 55px;
  margin-bottom: 10px;
}
.back h1 span{
  font-weight: 400;

}
.back p{
  font-size: 14px;
}

.back p span{
  font-weight: 600;
}

.back img{
  width: 140px;
}

.sci {
  position: relative;
  display: flex;
  margin-top: 20px;
}

.sci li {
  list-style: none;
  margin: 12px;
}

.sci li a {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
  font-size: 1.5em;
  color: #444;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.5s;
}

.sci li a:hover {
  background: #03a9f4;
  color: #fff;
}
 .card:hover .card-inner{
   transform: rotateY(180deg);
 }
